<p>
  home works!
</p>
<h1>{{title}}</h1>

<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

<!--<kendo-grid [data]="gridData" [height]="410">
  <kendo-grid-column field="ProductID" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>-->

<kendo-grid [data]="view | async"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [sortable]="true"
            [pageable]="true"
            [scrollable]="'none'"
            (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="CategoryID" width="100"></kendo-grid-column>
  <kendo-grid-column field="CategoryName" width="200"></kendo-grid-column>
  <kendo-grid-column field="Description" [sortable]="false">
  </kendo-grid-column>
</kendo-grid>
